* {
	margin: 0;
	padding: 0;
}

.camp {
	display: flex;
	flex-direction: row;
}
.computer-camp {
	width: 50%;
	height: 55vh;
	background-image: url(images/robot-du-futur.jpg);
	background-size: cover;
}

.user-camp {
	width: 50%;
	height: 55vh;
	background-image: url(images/main-neutre.jpg);
	background-size: cover;
	color: white;
}

.selection-camp {
	width: 100%;
	height: 45vh;
	background-image: url(images/terre-image-neutre.png);
	background-size: cover;
	color: white;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.annonce {
	width: 100%;
}

button {
	width: 15vw;
	height: 7vh;
	border-radius: 20px;
}
.selection {
	display: flex;
	gap: 3rem;
}
